{% extends 'dashboards/base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Add Category{% endblock %}
{% block breadcrumb %}Categories > Add Category{% endblock %}

{% block dashboard_content %}
<div class="form-card">
    <div class="form-header">
        <div class="form-icon category-icon">
            <i class="fa-solid fa-folder-plus"></i>
        </div>
        <div>
            <h4>Create New Category</h4>
            <p>Add a new category to organize your posts</p>
        </div>
    </div>

    <form action="{% url 'add_category' %}" method="post" class="enhanced-form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-actions">
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-plus"></i> Add Category
            </button>
            <a href="{% url 'categories' %}" class="btn-cancel">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
    </form>
</div>

{% endblock %}