{% extends 'dashboards/base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Add Post{% endblock %}
{% block breadcrumb %}Posts > Add Post{% endblock %}

{% block dashboard_content %}
<div class="form-card">
    <div class="form-header">
        <div class="form-icon">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div>
            <h4>Create New Post</h4>
            <p>Fill in the details to publish a new blog post</p>
        </div>
    </div>

    <form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data" class="enhanced-form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-actions">
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-paper-plane"></i> Publish Post
            </button>
            <a href="{% url 'posts' %}" class="btn-cancel">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
    </form>
</div>


{% endblock %}