{% extends 'dashboards/base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Edit Post{% endblock %}
{% block breadcrumb %}Posts > Edit Post{% endblock %}

{% block dashboard_content %}
<div class="form-card">
    <div class="form-header">
        <div class="form-icon edit-icon">
            <i class="fa-solid fa-edit"></i>
        </div>
        <div>
            <h4>Edit Post</h4>
            <p>Update the details of your blog post</p>
        </div>
    </div>

    <form action="{% url 'edit_post' post.id %}" method="post" enctype="multipart/form-data" class="enhanced-form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-actions">
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-save"></i> Save Changes
            </button>
            <a href="{% url 'posts' %}" class="btn-cancel">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
    </form>
</div>


{% endblock %}