{% extends 'dashboards/base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Edit Category{% endblock %}
{% block breadcrumb %}Categories > Edit Category{% endblock %}

{% block dashboard_content %}
<div class="form-card">
    <div class="form-header">
        <div class="form-icon edit-category-icon">
            <i class="fa-solid fa-folder-open"></i>
        </div>
        <div>
            <h4>Edit Category</h4>
            <p>Update the category details</p>
        </div>
    </div>

    <form action="{% url 'edit_category' category.id %}" method="post" class="enhanced-form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-actions">
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-save"></i> Save Changes
            </button>
            <a href="{% url 'categories' %}" class="btn-cancel">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
    </form>
</div>

{% endblock %}