{% extends 'base.html' %}

{% block content %}
<!-- ================= FEATURED POSTS ================= -->
<h3 class="mb-4 text-warning text-decoration-none">
    <i class="fa-solid fa-magnifying-glass"></i> Search Results for "{{keyword}}"
</h3>

<div class="row mb-4">
    {% if posts %}
    {% for post in posts %}
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h4><a href="{% url 'blogs' post.slug %}" class="text-decoration-none text-warning">{{ post.title }}</a>
                </h4>
                <small class="d-block mb-2">
                    <i class="fa-regular fa-clock"></i>
                    {{ post.created_at|timesince }} ago ·
                    <i class="fa-solid fa-user"></i> {{ post.author }}
                </small>
                <p>
                    {{ post.short_description|truncatewords:25 }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p> NO POSTS FOUND!!!</p>
    {% endif %}
</div>

{% endblock %}